<h2>Twilight Imperium</h2>
<ul>
  <li>
    Goal of the game: get 10 victory points, primarily via the Objective cards
  </li>
  <li>
    Game Phases:
    <ul> 
      <li>
        Strategy phase:
        <ul>
          <li>
            Choose strategy card. Clockwise, player with speaker token first. Bonus counter on remaining strategy cards.
          </li>
        </ul>
      </li>
      <li>
        Action phase. Consecutive rounds following order of play. Active player does one of these actions:
        <ul>
          <li>
            Strategic Action: Do Primary Ability. Other players, clockwise, may spend one Command Counter to do Secondary Ability of current Strategy Card.
          </li>
          <li>
            Tactical Action: Move fleets, engage in battle, build new units, etc. Activation sequence:
            <ol>
              <li>
                Activate a System. Use command counter. 
              </li>
              <li>
                Move Ships into system. Carrier/War sun may pick up Ground Force and PDS units. Don't move through system occupied by enemy ships (except fighters). Only move ships once.
              </li>
              <li>
                PDS Fire. Enemy PDS fires first. Then PDS of active player fires.
              </li>
              <li>
                Space Battles. If there are enemy ships -> battle must be initiated.
              </li>
              <li>
                Planetary Landings. Land Ground Force and PDS Units from Carriers. PDS units must be accompanied by Ground Force in able to land on neutral or enemy planet.
              </li>
              <li>
                Invasion Combat. PDS Units do not participate.
              </li>
              <li>
                Produce Units at Space Docks in the activated system or produce new Space Dock. 
              </li>
            </ol>
          </li>
          <li>
            Transfer Action.
            <ol>
              <li>
                Activate Two Systems. Both systems must contain at least one friendly unit.
              </li>
              <li>
                Movement. Move ships between the two systems.
              </li>
              <li>
                PDS Fire. Enemy PDS may fire. PDS units that are in range of both activated systems may fire at only one of the systems.
              </li>
              <li>
                Planetary Landings. Only on friendly planets.
              </li>
              <li>
                Production. Produce units in one of the activated systems.
              </li>
            </ol>
          </li>
          <li>
            Passing. Is only allowed once Strategic action is already taken. Once passed a play can do nothing except taking his Secondary Ability of their Strategy Card.
          </li>
        </ul>
      </li>
      <li>
        Status phase. Begins when all players have passed.
        <ol>
          <li>
            Qualify for Objectives. In order of play. Player must control all the planets in his Home system to qualify for Objective Card
          </li>
          <li>
            Repair Damaged Ships
          </li>
          <li>
            Remove Command Counters
          </li>
          <li>
            Refresh Planet Cards
          </li>
          <li>
            Players Receive 1 Action Card and 2 Command Counters.
          </li>
          <li>
            Redistribute Command Areas. Redistribute command counters between the 3 areas on player sheets. Fleet supply must still be sufficient.
          </li>
          <li>
            Return Strategy Cards. 
          </li>
        </ol>
      </li>
    </ul>
  </li>
  <li>
    Space Battles
    <ol>
      <li>
        Destroyer Anti-Fighter Barrage. Roll two dices for each Destroyer. For each hit=Fighter->reinforcements area.
      </li>
      <li>
        The Battle Round
        <ol>
          <li>
            Announce Retreats/Withdrawals. Attacker may announce withdrawal, then defender may announce retreat. One round of combat must occur before withdrawal/retreat.
          </li>
          <li>
            Roll Combat Dice. Players simultaneously roll one combat die for each of their spaceships. Players must remember total number of hits.
          </li>
          <li>
            Remove Casualties. Each player must take number of casualties equal to number of hits. First the attacker does this, then the defender. Dreadnought and War Suns can have 1 damage before destroyed. Destroyed ships go to reinforcements.
          </li>
          <li>
            Execute Withdrawals/Retreats. Only to previously activated systems. If not in compliance with Fleet Supply player must destroy excess ships.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    Invasion Combat
    <ol>
      <li>
        Bombardements. Dreadnoughts and War Sun units may bombard planet. War Sun may bombard even if no Invasion Combat is about to take place. Dreadnought may not bombard planet with PDS.
      </li>
      <li>
        PDS Fire. PDS units defending unit may fire on invading Ground Forces. Destroyed Ground Force Units do not participate further in battle.
      </li>
      <li>
        The Invasion Combat Round. Round is repeated until all Ground Force units of one of the players are destroyed. 
        <ol>
          <li>
            Roll combat dice
          </li>
          <li>
            Casualties are removed.
          </li>
        </ol>
        Defending PDS and Space Docks are automatically destroyed with succefull invasion.
        If both sides destroyed -> Defending player puts Control Marker on his planet.
      </li>
    </ol>
  </li>
  <li>
    Command Counters
    <ul>
      <li>
        The Fleet Supply Area. -> Maximum number of ships not including fighters in a fleet.
      </li>
      <li>
        The Command Pool Area. -> Command Counters that can be used to activate systems.
      </li>
      <li>
        The Strategy Allocation Area. -> To execute Secondary Abilities, some Action Cards, and the special abilities of some races.
      </li>
    </ul>
  </li>
  <li>
    Exhausting Planets. To get resources OR influence of that planet. Exhausted planets are refreshed during Status Phase.
  </li>
  <li>
    Action Cards. No more than 7. Publicly announce usage of Action Card, others must be able to respond with their Action Cards.
  </li>
  <li>
    Political Cards. Via voting. Steps:
    <ol>
      <li>
        Players may bribe each other, but not binding.
      </li>
      <li>
        Voting clockwise, starting with player left from Speaker. Influence value of all unexhausting planets determines weight of vote.
        Abstaining is allowed. In case of Tie Speaker player decides.
      </li>
    </ol>
  </li>
  <li>
    Technology Advances
    <ul>
      <li>
        Attained via Technology Advanced Strategy card during Action phase and other players may pay 8 resources to acquire Technology advance.
      </li>
      <li>
        Owner of planet with technology symbol can pay 1 less for technology of that color. Cumulative.
      </li>
    </ul>
  </li>
  <li>
    Trade
    <ul>
      <li>
        Trade agreements are created via Trade Strategy Card. Active player must agree to trade between players.
      </li>
      <li>
        Trade goods are substitute for resources or influence.
      </li>
      <li>
        Trade Agreements may be broken during Status phase. "It is not possible for a player to automatically break a trade agreement with the Hacan race!"
        Space Battle or Invasion Combat breaks agreements. (Trade agreements with the Hacan player are broken in the event of open war between the Hacan and its trading partner.)
      </li>
    </ul>
  </li>
  <li>Units
    <ul>
      <li>
        Space dock. Maximum number of units to produce = Resources of planet + 2. If enemy in system, then not possible to produce units.
      </li>
      <li>
        The Carrier Unit. Capacity is 6. Can carry Ground Forces, PDS units and Ground Forces.
      </li>
      <li>
        PDS. Acquire "Deep Space Cannon"-> fire to adjacent systems. Dreadnoughts can not bombard planet containing PDS unit. After movement into activated system owners of enemy PDS may fire. PDS may fire just before invastion to Ground Forces. Maximum 2 PDS's per planet.
      </li>
      <li>
        Fighters. Maximum 3 fighters on a space dock. E.g. One space Dock and one Carrier -> Maximum 3+6 Fighters. Fighter belonging to carrier can fight even when their carrier has been destroyed, but after fight excess fighters must be removed.
      </li>
      <li>
        Destroyer. Once before the entire combat: Roll 2 combat dice to fight Fighters.
      </li>
      <li>
        Dreadnought. Can sustain 1 damage. May bombard Ground Forces on planet before Invasion Combat.
      </li>
      <li>
        War Sun. Player must have War Sun technology. Can sustain single hit. Can bombard planet even if PDS is present. A War Sun rolls three combat dice during Space Battles and Bombardments. May transport 6 units.
      </li>
    </ul>
  </li>
  <li>Strategy Cards
    <ul>
      <li>
        The Initiative Strategy.
        <ol>
          <li>Gives owner Speaker Token</li>
          <li>Do secondary abilities of other cards without spending Command Counter.</li>
        </ol>
        This card is not allowed two round in a row.
      </li>
      <li>
        The Diplomacy Strategy.
        <ol>
          <li>Select other player. You and other player may not activate each others system for the rest of the round.</li>
          <li>Refresh two exhausted planets. So you can exhaust same planet twice in a round or refresh just acquired planet. (Planets are exhausted when acquired.)</li>
        </ol>
      </li>
      <li>
        The Political Strategy.
        <ol>
          <li>Draw Action Cards, Command Counter, and decide which of the top three Political Cards will be drawn by the next player.</li>
          <li>Draw Action Card.</li>
        </ol>
      </li>
      <li>
        The Logistics Strategy.
        <ol>
          <li>Draw 4 Command Counters from reinforcement pile.</li>
          <li>No Command Counter to use this ability. Buy one Command Counter for each three Influence spent.</li>
        </ol>
      </li>
      <li>
        The Trade Strategy.
        <ol>
          <li>
            <ol style="list-style-type: lower-alpha;">
              <li>
                Get three Trade Goods and get Trade Goods from your Trade Agreements. Allow players to open new Trade Agreements, maybe get some bribes doing so ;-).
              </li>
              <li>
                OR: Break all existing Trade Agreements.
              </li>
            </ol>
           </li>
          <li>
            Collect Trade Goods from Trade Agreements. Note: Players cannot collect Trade Goods from Trade Agreements created during the same Action
          </li>
        </ol>
      </li>
      <li>
        The Warfare Strategy.
        <ol>
          <li>Take Command Counter from board and put it into Command Pool.</li>
          <li>Move up to two Cruiser/Destroyer units to adjacent empty systems, even if they come from already activated system. Command Counter comes from reinforcement pile! Units may move to two different systems.</li>
        </ol>
      </li>
      <li>
        The Technology Strategy.
        <ol>
          <li>A free technology advance of choice.</li>
          <li>
            Spend 8 resources to get technology advance.
          </li>
        </ol>
      </li>
      <li>
        The Imperial Strategy.
        <ol>
          <li>Draw top card from Objective Deck. Get 2 Victory points. If "Game Over" Objective Card is drawn game ends before player receives two victory points.</li>
          <li>Build units in a system without activating it - in a system that is already activated or a system that is not activated.</li>
        </ol>
      </li>
    </ul>
  </li>
</ul>
